<?xml version="1.0" encoding="UTF-8"?>
<!-- Add xmlns:util namespace definition to be able to use stuff from WixUtilExtension dll-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <!-- This is how we include wxi files -->
  <?include $(sys.CURRENTDIR)Includes\OpenNIVariables.wxi ?>
 
  <Product Id="*" Name="$(var.ProductFullName)" Language="!(loc.LANG)" 
           Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.UpgradeCode)">
    <!-- Define the minimum supported installer version (3.0) and that the install should be done for the whole machine not just the current user -->
    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" InstallPrivileges="elevated"  />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="low"/>   

    <MajorUpgrade Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes" IgnoreRemoveFailure="yes"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
  
    
    <!-- Reference the global NETFRAMEWORK20 property to check if it exists -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK30"/>
    <PropertyRef Id="NETFRAMEWORK35"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    
    <!--     
    Startup conditions that checks if .Net Framework 2.0 is installed or if 
    we're running the OS higher than Windows XP SP2.
    If not the installation is aborted.
    By doing the (Installed OR ...) property means that this condition will only 
    be evaluated if the app is being installed and not on uninstall or changing
    -->
    <Condition Message="!(loc.DotNetFrameworkNeeded)">
      <![CDATA[Installed OR NETFRAMEWORK20 OR NETFRAMEWORK30 OR NETFRAMEWORK35 OR NETFRAMEWORK40FULL OR NETFRAMEWORK40CLIENT]]>
    </Condition>
    <Condition Message="!(loc.AppNotSupported)">
      <![CDATA[Installed OR ((VersionNT >= 501 AND ServicePackLevel >= 2) OR (VersionNT >= 502))]]>
    </Condition>
         
    <UIRef Id="CostumeInstallUI" /> 
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />   
    
    <!-- Set the icon to show next to the program name in Add/Remove programs -->
    <Icon Id="OpenNIIcon.ico" SourceFile="$(var.ResourcesDir)\mainicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="OpenNIIcon.ico" />
    
    <!--WixVariable Id="WixUIDialogBmp" Value="$(var.ResourcesDir)\Header.bmp"/-->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ResourcesDir)\OpenNIHeader.bmp" />      

    <!-- the default directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="!(loc.ProductName)">
         <Directory Id="INSTALLLOCATIONTools" Name="Tools"/>
          <Directory Id="INSTALLLOCATIONSamples" Name="Samples">
            <Directory Id="INSTALLLOCATIONSamplesBin" Name="Bin$(var.PlatformSuffix)">
               <Directory Id="INSTALLLOCATIONSamplesBinRelease" Name="Release">
                <Directory Id="INSTALLLOCATIONSamplesBinReleaseLog" Name="Log"/>
              </Directory>
              
              <Directory Id="INSTALLLOCATIONSamplesBinDebug" Name="Debug">
                <Directory Id="INSTALLLOCATIONSamplesBinDebugLog" Name="Log"/>
              </Directory> 
            </Directory>
          </Directory>
          <Directory Id="INSTALLLOCATIONDriver" Name="Driver"/>
          <Directory Id="INSTALLLOCATIONBin" Name="Bin$(var.PlatformSuffix)">
            <Directory Id="INSTALLLOCATIONBinLog" Name="Log"/>  
          </Directory>  
          <Directory Id="INSTALLLOCATIONData" Name="Data"/>
          
          
      </Directory>
      </Directory>


      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductShortName)" >
          <?if $(var.BinaryOnlyRedist)="False"?>          
            <Directory Id="DocumentationShortcutFolder" Name="Documentation"/>
            <Directory Id="SamplesShortcutFolder" Name="Samples"/>
          <?endif?>
        </Directory>
      </Directory>     
      
    </Directory>

    
    <DirectoryRef Id="INSTALLLOCATIONBinLog">
      <?if $(var.Platform)="x86"?>
        <Component Id="RemoveLogDir$(var.Platform)" Guid="D8F6BD18-BBB3-4ED5-82A5-78D89D96D738" KeyPath="yes">
        <RemoveFile Id="RemoveLogFiles$(var.Platform)" On="uninstall" Name="*.*" />
        <RemoveFolder Id="RemoveLogDirFolder$(var.Platform)" On="uninstall"/>
        </Component>
       <?else?>
         <Component Id="RemoveLogDir$(var.Platform)" Guid="D8F6BD18-BBB3-4ED5-82A5-78D89D962738" KeyPath="yes">
            <RemoveFile Id="RemoveLogFiles$(var.Platform)" On="uninstall" Name="*.*" />
            <RemoveFolder Id="RemoveLogDirFolder$(var.Platform)" On="uninstall"/>
         </Component>
         <?endif?>       
    </DirectoryRef>
    
    <!--NEW NODE SEMION-->
   <DirectoryRef Id="INSTALLLOCATIONBin">
     <?if $(var.Platform)="x86"?>
      <Component Id="RemoveBinDir$(var.Platform)" Guid="45BC94F5-FA27-4d42-AFD8-E18B65F9A52D" KeyPath="yes">
        <RemoveFile Id="RemoveBinFiles$(var.Platform)" On="uninstall" Name="*.*" />
        <RemoveFolder Id="RemoveBinDir$(var.Platform)" On="uninstall"/>
      </Component>
     <?else?>
       <Component Id="RemoveBinDir$(var.Platform)" Guid="45BC94F5-FA27-4d42-AAD8-E18B65F9A52D" KeyPath="yes">
         <RemoveFile Id="RemoveBinFiles$(var.Platform)" On="uninstall" Name="*.*" />
         <RemoveFolder Id="RemoveBinDir$(var.Platform)" On="uninstall"/>
       </Component>
     <?endif?>
    </DirectoryRef>

   
    <?if $(var.BinaryOnlyRedist)="False"?>


    <?if $(var.Platform)="x86"?>
    
    <!-- New node create SamplesBinDebugLog folder  -->
      <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebugLog">
      <Component Id="SamplesBinDebugLog" Guid="7C42E243-C475-486F-B08C-606737C3CC73" KeyPath="yes">
      </Component>
    </DirectoryRef>

    <!-- New node create SamplesBinReleaseLog folder  -->
    <DirectoryRef Id="INSTALLLOCATIONSamplesBinReleaseLog">
      <Component Id="SamplesBinReleaseLog" Guid="3FD0DBF9-C87C-43A1-A4A9-208969EE9060" KeyPath="yes">
      </Component>
   </DirectoryRef>
    
    <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebugLog">
        <Component Id="RemoveDebugLogDir" Guid="0AC4A0E8-CDE7-43c4-BDFA-FE0176AFFE21" KeyPath="yes">
          <RemoveFile Id="RemoveDebugLogFiles" On="uninstall" Name="*.*" />
          <RemoveFolder Id="RemoveDebugLogDir" On="uninstall"/>
        </Component>
      </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebug">
      <Component Id="RemoveDebugDir" Guid="0AC4A018-CDE7-43c4-BDFA-FE0176AFFE21" KeyPath="yes">
        <RemoveFile Id="RemoveDebugFiles" On="uninstall" Name="*.*" />
        <RemoveFolder Id="RemoveDebugDir" On="uninstall"/>
      </Component>
    </DirectoryRef>
    <?else?>
    <!-- New node create SamplesBinDebugLog folder  -->
    <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebugLog">
      <Component Id="SamplesBinDebugLog" Guid="7C42E243-C425-486F-B08C-606737C3CC73" KeyPath="yes">
      </Component>
    </DirectoryRef>

    <!-- New node create SamplesBinReleaseLog folder  -->
    <DirectoryRef Id="INSTALLLOCATIONSamplesBinReleaseLog">
      <Component Id="SamplesBinReleaseLog" Guid="3FD0DBF9-C81C-43A1-A4A9-208969EE9060" KeyPath="yes">
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebugLog">
      <Component Id="RemoveDebugLogDir" Guid="0AC4A0E8-CDE7-4377-BDFA-FE0176AFFE21" KeyPath="yes">
        <RemoveFile Id="RemoveDebugLogFiles" On="uninstall" Name="*.*" />
        <RemoveFolder Id="RemoveDebugLogDir" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATIONSamplesBinDebug">
      <Component Id="RemoveDebugDir" Guid="0AC4A018-CDE7-43c4-BDFA-FE0176AFFE22" KeyPath="yes">
        <RemoveFile Id="RemoveDebugFiles" On="uninstall" Name="*.*" />
        <RemoveFolder Id="RemoveDebugDir" On="uninstall"/>
      </Component>
    </DirectoryRef>
      <?endif?>
    <?endif?>
    
         
      <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="DocumentationShortcut" Guid="*" >

          <Shortcut Id="UninstallProduct"
                Name="Uninstall OpenNI"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]" Directory="ApplicationProgramsFolder"/>
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"  Directory="ApplicationProgramsFolder"/>
          
          <?if $(var.BinaryOnlyRedist)="False"?>
            <Shortcut Id="APIRefMenuShortcut"
               Name="API Reference $(var.VersionNumber)"
               Description="API Reference $(var.VersionNumber)"
               Target="[INSTALLLOCATION]Documentation\OpenNI.chm"
               WorkingDirectory="INSTALLLOCATION" />                             
            
            <Shortcut Id="UserGuideMenuShortcut"
               Name="User Guide $(var.VersionNumber)"
               Description="User Guide $(var.VersionNumber)"
               Target="[INSTALLLOCATION]Documentation\OpenNI_UserGuide.pdf"
               WorkingDirectory="INSTALLLOCATION"/>
            
            <Shortcut Id="NiSimpleReadMenuShortcut"
             Name="NiSimpleRead$(var.PlatformSuffix)"
             Description="NiSimpleRead$(var.PlatformSuffix)"
             Target="[INSTALLLOCATION]Samples\Bin$(var.PlatformSuffix)\Release\NiSimpleRead$(var.PlatformSuffix).exe"
             WorkingDirectory="INSTALLLOCATIONSamplesBinRelease" Directory="SamplesShortcutFolder"/>
            <Shortcut Id="NiSimpleViewerMenuShortcut"
              Name="NiViewer$(var.PlatformSuffix)"
              Description="NiViewer$(var.PlatformSuffix)"
              Target="[INSTALLLOCATION]Samples\Bin$(var.PlatformSuffix)\Release\NiViewer$(var.PlatformSuffix).exe"
              WorkingDirectory="INSTALLLOCATIONSamplesBinRelease" Directory="SamplesShortcutFolder"/>
            <Shortcut Id="SampleDirMenuShortcut"
               Name="Samples Directory $(var.PlatformSuffix)"
               Description="Samples Directory"
               Target="[INSTALLLOCATION]Samples\"
               WorkingDirectory="INSTALLLOCATION" Directory="SamplesShortcutFolder"/>
            
            <RemoveFolder Id="SamplesShortcutFolder" On="uninstall" Directory="SamplesShortcutFolder"/>          
            <RemoveFolder Id="RemoveDocumentationShortcutFolder" On="install" Directory="DocumentationShortcutFolder"/>
          <?endif?>
          
          <RegistryValue Root="HKCU" Key="Software\OpenNI" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </DirectoryRef>


         
    <DirectoryRef Id="TARGETDIR">      
      <Component Id="RegistryEntries"  Guid="*" >
        
        <RegistryKey Root="HKLM" Key="Software\OpenNI" Action="none" >
          <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLLOCATION]"  />
          <RegistryValue Type="string" Name="Version" Value="$(var.VersionNumber)"/>
        </RegistryKey>
        
        <RegistryKey Root="HKCR" Key=".oni" Action="createAndRemoveOnUninstall" >
          <RegistryValue Type="string" Value="NIRecording"/>
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="NIRecording" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string"  Value="OpenNI Recording File"/>
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="NIRecording\DefaultIcon" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string"  Value="[INSTALLLOCATION]Samples\Bin$(var.PlatformSuffix)\Release\NiViewer$(var.PlatformSuffix).exe,0"/>
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="NIRecording\shell\open\command" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLLOCATION]Samples\Bin$(var.PlatformSuffix)\Release\NiViewer$(var.PlatformSuffix).exe %1"/>
        </RegistryKey>

      </Component>
    </DirectoryRef>


    <!-- Install OpenNI.net-->
    <DirectoryRef Id="TARGETDIR" >
      <Component Id="OpenNIPolicy1.4" Guid="4bb7335e-1049-11e1-9352-b8ac6f2d7539" DiskId="1">
<File Id="OpenNIPolicy1.4" Name="Policy.1.4.OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\bin$(var.PlatformSuffix)\Policy.1.4.OpenNI.Net.dll" />
<File Id="OpenNIPolicyConfig1.4" Name="PublisherPolicy1.4.config" KeyPath="no" Source="$(var.OpenNIFilesDir)\bin$(var.PlatformSuffix)\PublisherPolicy1.4.config" />
</Component>
<Component Id="OpenNIPolicy1.5" Guid="b100518f-19a2-11e1-a67c-080027007877" DiskId="1">
<File Id="OpenNIPolicy1.5" Name="Policy.1.5.OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\bin$(var.PlatformSuffix)\Policy.1.5.OpenNI.Net.dll" />
<File Id="OpenNIPolicyConfig1.5" Name="PublisherPolicy1.5.config" KeyPath="no" Source="$(var.OpenNIFilesDir)\bin$(var.PlatformSuffix)\PublisherPolicy1.5.config" />
</Component>
<Component Id="OpenNINET" Guid="60718C69-87CB-45C0-A8A0-1B60E072D20A" DiskId="1">
        <File Id="OpenNINET" Name="OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\OpenNI.Net.dll" />
      </Component>
      <Component Id="OpenNIPolicy1.1" Guid="ED633D34-ADC1-4b87-B3F6-930B8D600E0C" DiskId="1">
        <File Id="OpenNIPolicy1.1" Name="Policy.1.1.OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\Policy.1.1.OpenNI.Net.dll" />
        <File Id="OpenNIPolicyConfig1.1" Name="PublisherPolicy1.1.config" KeyPath="no" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\PublisherPolicy1.1.config" />
      </Component>
      <Component Id="OpenNIPolicy1.2" Guid="5CF88226-1671-4081-88BB-798791A6060A" DiskId="1">
        <File Id="OpenNIPolicy1.2" Name="Policy.1.2.OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\Policy.1.2.OpenNI.Net.dll" />
        <File Id="OpenNIPolicyConfig1.2" Name="PublisherPolicy1.2.config" KeyPath="no" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\PublisherPolicy1.2.config" />
      </Component>
      <Component Id="OpenNIPolicy1.3" Guid="5CF88226-1671-4081-88BB-798791A60613" DiskId="1">
        <File Id="OpenNIPolicy1.3" Name="Policy.1.3.OpenNI.Net.dll" Assembly=".net" KeyPath="yes" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\Policy.1.3.OpenNI.Net.dll" />
        <File Id="OpenNIPolicyConfig1.3" Name="PublisherPolicy1.3.config" KeyPath="no" Source="$(var.OpenNIFilesDir)\Bin$(var.PlatformSuffix)\PublisherPolicy1.3.config" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="TARGETDIR" >
      
      <Component Id="EnviromentVars" Guid="*" DiskId="1" >
      
        <Environment Id="OPENNIINSTALLPATH"
                            Action="set"
                            Part="all"
                            Name="OPEN_NI_INSTALL_PATH$(var.PlatformSuffix)"
                            Permanent="no"
                            System="yes"
                            Value="[INSTALLLOCATION]" />

        <Environment Id="OPENNIBIN"
                            Action="set"
                            Part="all"
                            Name="OPEN_NI_BIN$(var.PlatformSuffix)"
                            Permanent="no"
                            System="yes"
                            Value="[INSTALLLOCATION]Bin$(var.PlatformSuffix)"/>

        <Environment Id="OPENNIINCLUDE"
                            Action="set"
                            Part="all"
                            Name="OPEN_NI_INCLUDE"
                            Permanent="no"
                            System="yes"
                            Value="[INSTALLLOCATION]Include"/>

        <Environment Id="OPENNILIB"
                            Action="set"
                            Part="all"
                            Name="OPEN_NI_LIB$(var.PlatformSuffix)"
                            Permanent="no"
                            System="yes"
                            Value="[INSTALLLOCATION]Lib$(var.PlatformSuffix)"/>
        


        <Environment Id="ClassPath" Action="set" Part="last" Name="CLASSPATH" Permanent="yes" System="yes"
                           Value="[INSTALLLOCATION]Bin$(var.PlatformSuffix)\org.openni.jar"/>
        
        <Environment Id="Path" Action="set" Part="last" Name="Path" Permanent="yes" System="yes"
                     Value="[INSTALLLOCATION]Bin$(var.PlatformSuffix)"/>
        
        <RegistryValue Root="HKCU" Key="Software\OpenNI" Name="installedEnv$(var.PlatformSuffix)" Type="integer" Value="1" KeyPath="yes"/> 
        
      </Component>
      
    </DirectoryRef>

    <Property Id="OPENNIVERSION">
      <RegistrySearch Id="OpenNIVersionReg" Root="HKLM" Key="Software\OPENNI" Name="Version" Type="raw"/>
    </Property>

    <Condition Message="Please uninstall OpenNI verion [OPENNIVERSION] before proceeding.">NOT OPENNIVERSION OR OPENNIVERSION>"$(var.MinOpenNIVersion)" OR Installed</Condition>

    
    <!--  Install the visual studio 2008 DLLs-->
    <DirectoryRef Id="TARGETDIR">
      <?if $(var.Platform)="x86"?>
        <Merge Id="VCRedist2008" SourceFile="$(var.ResourcesDir)\\Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0" />
        <Merge Id="VCRedist2010" SourceFile="$(var.ResourcesDir)\\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0" />
      <?else?>
        <Merge Id="VCRedist2008" SourceFile="$(var.ResourcesDir)\\Microsoft_VC90_CRT_x86_x64.msm" DiskId="1" Language="0"/>
        <Merge Id="VCRedist2010" SourceFile="$(var.ResourcesDir)\\Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0"/>
      <?endif?>
    </DirectoryRef>
    
    <!-- Install the USB Driver -->
    <CustomAction Id='drivex86Install' Directory="INSTALLLOCATIONDriver" Return="ignore" Impersonate="no" Execute="deferred"
                  ExeCommand="&quot;[INSTALLLOCATIONDriver]dpinst-x86.exe&quot; /sw /el" />    
    <CustomAction Id='driveamd64Install' Directory="INSTALLLOCATIONDriver" Return="ignore" Impersonate="no" Execute="deferred"
                  ExeCommand="&quot;[INSTALLLOCATIONDriver]dpinst-amd64.exe&quot; /sw /el"/>       

    <!-- UnRegister Recorder     -->
    <CustomAction Id='UnRegRecorder' Directory="INSTALLLOCATIONBin" Return="ignore"  Impersonate="no" Execute="deferred"
                  ExeCommand="&quot;[INSTALLLOCATIONBin]niReg$(var.PlatformSuffix).exe&quot; -u nimRecorder$(var.PlatformSuffix).dll" />

    <!-- UnRegister MockNodes-->
    <CustomAction Id='UnRegMockNodes' Directory="INSTALLLOCATIONBin" Return="ignore"  Impersonate="no" Execute="deferred"
                  ExeCommand="&quot;[INSTALLLOCATIONBin]niReg$(var.PlatformSuffix).exe&quot; -u nimMockNodes$(var.PlatformSuffix).dll" />

    <!-- UnRegister Codecs-->
    <CustomAction Id='UnRegCodecs' Directory="INSTALLLOCATIONBin" Return="ignore"  Impersonate="no" Execute="deferred"
                  ExeCommand="&quot;[INSTALLLOCATIONBin]niReg$(var.PlatformSuffix).exe&quot; -u nimCodecs$(var.PlatformSuffix).dll" />


    <!-- Create the modules XML -->
    <CustomAction Id="SetModulesXML" Property="ModulesXML" Value="[INSTALLLOCATION]"/>
    <CustomAction Id="ModulesXML" Script="vbscript" Execute="deferred" Return="check" Impersonate="no"  Win64="$(var.Win64)">
      <![CDATA[                  
     Dim objFSO 
      Dim objTextFile 
      Const ForReading = 1, ForWriting = 2	    
      
      path = Session.Property("CustomActionData") 
	  'path = "C:\Program Files (x86)\OpenNI"
      
      Set objFSO = CreateObject("Scripting.FileSystemObject")
      
      If (objFSO.FileExists(path + "\Data\modules.xml")) Then  
        
        Set objFSOTarget = CreateObject("scripting.filesystemobject")

        Set objFilesSource = objFSO.OpenTextFile(path +"\Data\modules.xml",ForReading,True,0) 
        Set objFilesTarget = objFSO.OpenTextFile(path +"\Data\modules.xml1",ForWriting,True,0)         

        Do While objFilesSource.AtEndOfStream = FALSE
		
          strCurrentLine = objFilesSource.ReadLine
          strCurrentLineNoSpace = Replace(strCurrentLine," ","")
          
          if StrComp(Left(strCurrentLineNoSpace,10),"<Modules/>") = 0 then            
			objFilesTarget.WriteLine ("<Modules>")
            objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimRecorder$(var.PlatformSuffix).dll" + chr(&H22) + " />")
            objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimMockNodes$(var.PlatformSuffix).dll" + chr(&H22) +" />")
            objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimCodecs$(var.PlatformSuffix).dll"+ chr(&H22) + " />")       
			objFilesTarget.WriteLine ("</Modules>")
          else 
			if StrComp(Left(strCurrentLineNoSpace,8),"<Modules") = 0 then
				objFilesTarget.WriteLine strCurrentLine
				objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimRecorder$(var.PlatformSuffix).dll" + chr(&H22) + " />")
				objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimMockNodes$(var.PlatformSuffix).dll" + chr(&H22) +" />")
				objFilesTarget.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimCodecs$(var.PlatformSuffix).dll"+ chr(&H22) + " />")       
							
			else
				objFilesTarget.WriteLine strCurrentLine
			end if
          end if
        Loop

        objFilesSource.Close
        objFilesTarget.Close
      
        'objFSOTarget.CopyFile path + "\Data\modules.xml", path + "\Data\modules.xml2"
		    objFSOTarget.DeleteFile path + "\Data\modules.xml"
        objFSOTarget.MoveFile path + "\Data\modules.xml1", path + "\Data\modules.xml"
        
      Else        
        Set objTextFile = objFSO.CreateTextFile(path +"\Data\modules.xml", True)
        
        objTextFile.WriteLine ("<Modules>")
        objTextFile.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimRecorder$(var.PlatformSuffix).dll" + chr(&H22) + " />")
        objTextFile.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimMockNodes$(var.PlatformSuffix).dll" + chr(&H22) +" />")
        objTextFile.WriteLine ("	<Module path=" + chr(&H22) + path + "bin$(var.PlatformSuffix)\nimCodecs$(var.PlatformSuffix).dll"+ chr(&H22) + " />")
        objTextFile.WriteLine ("</Modules>")
        
        objTextFile.Close       
      End If
      ]]>
    </CustomAction>
    
    <!-- Set Environment for the current process -->
    <CustomAction Id="SetOpenNIPathData" Property="OpenNIPath" Value="[INSTALLLOCATION]"/>
    <CustomAction Id="OpenNIPath" Script="vbscript" Execute="deferred" Return="check" Impersonate="no"  Win64="$(var.Win64)">
      <![CDATA[            
      set msi = CreateObject("WindowsInstaller.Installer")
      msi.Environment("OPEN_NI_INSTALL_PATH$(var.PlatformSuffix)") = Session.Property("CustomActionData")      
      ]]>
    </CustomAction>

    
    
    
    <!-- Remove OpenNI path from the env PATH  -->
    <CustomAction Id="SetRemoveOpenNIPathData" Property="RemoveOpenNIPath" Value="[INSTALLLOCATION]Bin$(var.PlatformSuffix)|[%Path]"/>
    <CustomAction Id="RemoveOpenNIPath" Script="vbscript" Execute="deferred" Impersonate="no"  Win64="$(var.Win64)">
      <![CDATA[
      strArgs = Session.Property("CustomActionData")      
      Args = Split( strArgs, "|" )            
      str = Replace(Args(1),Args(0)+";","")      
      str = Replace(Args(1),Args(0),"")      
      set WSHShell = CreateObject("WScript.Shell")
      WSHShell.Environment.item("PATH") = str      
      ]]>
    </CustomAction>

    <!-- Remove OpenNI path from the env CLASSPATH  -->
    <CustomAction Id="SetRemoveOpenNIClassPathData" Property="RemoveOpenNIClassPath" Value="[INSTALLLOCATIONBin]org.openni.jar|[%CLASSPATH]"/>
    <CustomAction Id="RemoveOpenNIClassPath" Script="vbscript" Execute="deferred" Impersonate="no"  Win64="$(var.Win64)">
      <![CDATA[
      strArgs = Session.Property("CustomActionData")      
      Args = Split( strArgs, "|" )  
      str = Replace(Args(1),Args(0)+";","")   
      str = Replace(Args(1),Args(0),"")      
      set WSHShell = CreateObject("WScript.Shell")      
      WSHShell.Environment.item("CLASSPATH") = str      
      ]]>
    </CustomAction>

 
    <!-- Set the components defined in our fragment files that will be used for our feature  -->
    <Feature Id="OpenNIFeature" Title="!(loc.ProductName)" Level="1"  >
       <!--New id var-->
      <ComponentRef Id="RemoveLogDir$(var.Platform)"/>
      <ComponentRef Id="RemoveBinDir$(var.Platform)"/>
      <?if $(var.BinaryOnlyRedist)="False"?>
        <ComponentGroupRef Id="OpenNIFiles" />
        <ComponentRef Id="RemoveDebugLogDir"/>
        <ComponentRef Id="RemoveDebugDir" />              
        <ComponentRef Id="SamplesBinDebugLog"/>      
        <ComponentRef Id="SamplesBinReleaseLog"/>
      <?else?>        
        <ComponentGroupRef Id="OpenNIBinaryFiles"/>      
      <?endif?>
      
      <ComponentRef Id="DocumentationShortcut" />
      <ComponentRef Id="RegistryEntries" />     
      <ComponentRef Id="OpenNINET"/>

      
      <ComponentRef Id="OpenNIPolicy1.1"/>
      <ComponentRef Id="OpenNIPolicy1.2"/>
      <ComponentRef Id="OpenNIPolicy1.3"/>
      <ComponentRef Id="OpenNIPolicy1.4"/>      
      <ComponentRef Id="OpenNIPolicy1.5"/>
      
      <ComponentRef Id="EnviromentVars"/>
          
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1" >
      <MergeRef Id="VCRedist2008" />
      <MergeRef Id="VCRedist2010" />
    </Feature>
    
    <WixVariable Id="WixUICostingPopupOptOut" Value="0" />
    
    <InstallExecuteSequence>      

      <Custom Action="SetRemoveOpenNIPathData" Before="RemoveOpenNIPath">REMOVE ~= "ALL" </Custom>
      <Custom Action="RemoveOpenNIPath" Before="InstallFinalize">REMOVE ~= "ALL" </Custom>

      <Custom Action="SetRemoveOpenNIClassPathData" Before="RemoveOpenNIClassPath">REMOVE ~= "ALL" </Custom>
      <Custom Action="RemoveOpenNIClassPath" Before="InstallFinalize">REMOVE ~= "ALL" </Custom>
            
      <Custom Action="SetOpenNIPathData" Before="OpenNIPath"/>
      <Custom Action="OpenNIPath" Before="PublishProduct"/>

      <Custom Action="SetModulesXML" Before="ModulesXML">NOT Installed</Custom>
      <Custom Action="ModulesXML" Before="InstallFinalize">NOT Installed</Custom>
      

      <Custom Action='UnRegRecorder' Before='RemoveFiles'> REMOVE ~= "ALL" </Custom>
      <Custom Action='UnRegMockNodes' Before='RemoveFiles'> REMOVE ~= "ALL" </Custom>
      <Custom Action='UnRegCodecs' Before='RemoveFiles'> REMOVE ~= "ALL" </Custom>
      
      <Custom Action='driveamd64Install' After='PublishProduct'><![CDATA[NOT Installed AND VersionNT64]]></Custom>
      
      <Custom Action='drivex86Install' After='PublishProduct'><![CDATA[NOT Installed AND NOT VersionNT64]]></Custom>
      
    </InstallExecuteSequence>
  </Product>
</Wix>
